@font-face {
  font-family: "LobsterItalic";
  src: url("../../assets/Fonts/LobsterTwo-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Bilagike";
  src: url("../../assets/Fonts/Bilagike.otf") format("opentype");
}
@font-face {
  font-family: "Crimson";
  src: url("../../assets/Fonts/CrimsonText-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "CrimsonSemi";
  src: url("../../assets/Fonts/CrimsonText-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: "Larissa";
  src: url("../../assets/Fonts/Larissa.ttf") format("truetype");
}
@font-face {
  font-family: "BoldLobsterItalic";
  src: url("../../assets/Fonts/LobsterTwo-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Lora";
  src: url("../../assets/Fonts/Lora-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "MartelBlack";
  src: url("../../assets/Fonts/Martel-Black.ttf") format("truetype");
}
@font-face {
  font-family: "NeutonRegular";
  src: url("../../assets/Fonts/Neuton-Regular.ttf") format("truetype");
}
html {
  overflow: hidden;
}

.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;
  animation: grain 7s steps(10) infinite;
  background-image: url(../../assets/noise.png);
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0.28;
  pointer-events: none;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
body,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "MartelBlack";
}

.Header {
  font-family: "Crimson";
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Header .headerInner {
  position: fixed;
  height: 70px;
  top: 0;
  width: 83%;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}
.Header .headerInner .menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.Header .headerInner .menuOuter {
  display: none;
}
.Header .nav2 {
  opacity: 0;
  transition: opacity 0.5s, height 0s ease 0.5s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.966);
  width: 100vw;
  height: 0;
  position: absolute;
  z-index: 10;
  top: 100%;
}
.Header .showNav {
  opacity: 1;
  height: 100vh;
  transition: opacity 0.5s, height 0s;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.loader {
  width: 25px;
  height: 50px;
  display: grid;
  color: #000;
  background: linear-gradient(currentColor 0 0) top/100% 2px, radial-gradient(farthest-side at top, rgba(0, 0, 0, 0) calc(100% - 2px), currentColor calc(100% - 1px), rgba(0, 0, 0, 0)) top, linear-gradient(currentColor 0 0) bottom/100% 2px, radial-gradient(farthest-side at bottom, rgba(0, 0, 0, 0) calc(100% - 2px), currentColor calc(100% - 1px), rgba(0, 0, 0, 0)) bottom;
  background-size: 100% 1px, 100% 50%;
  background-repeat: no-repeat;
  animation: l18 4s infinite linear;
}
.loader::before, .loader::after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  border: inherit;
  animation: inherit;
}
.loader::after {
  animation-duration: 2s;
}
@keyframes l18 {
  100% {
    transform: rotate(1turn);
  }
}

.app {
  font-family: "Lora";
  height: 100dvh;
  background-color: rgb(236, 236, 236);
  width: 100dvw;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}
.app .welcome .welcomeInner {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.app .welcome .welcomeInner .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  width: 600px;
  opacity: 0.9;
}
.app .welcome .welcomeInner .inner img {
  position: absolute;
  height: 380px;
}
.app .welcome .welcomeInner .inner .ba {
  right: 75px;
  width: 300px;
}
.app .welcome .welcomeInner .inner .ha {
  width: 220px;
  top: 30px;
}
.app .welcome .welcomeInner .inner .no {
  left: 45px;
  top: 80px;
  width: 170px;
}
.app .about .aboutInner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 45px;
  width: 100%;
}
.app .about .aboutInner .leftSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.app .about .aboutInner .leftSection img {
  border: 1px solid black;
  padding: 5px;
  width: 70%;
}
.app .about .aboutInner .fade-left-in {
  opacity: 1;
  transform: translateX(0);
}
.app .about .aboutInner .fade-left-out {
  opacity: 0;
  transform: translateX(-100%);
}
.app .about .aboutInner .rightSection {
  width: 50%;
  min-width: 396px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.app .about .aboutInner .rightSection h1 span {
  color: #808080;
}
.app .about .aboutInner .rightSection .leftBracket {
  position: absolute;
  top: 30px;
  left: -10px;
  font-size: 59px;
  transform: translate(-50%, 0%);
  color: #808080;
}
.app .about .aboutInner .rightSection .rightBracket {
  position: absolute;
  top: 30px;
  right: -10px;
  font-size: 59px;
  transform: translate(-50%, 0%);
  color: #808080;
}
.app .skill .skillInner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  flex-direction: row;
  width: 100%;
}
.app .skill .skillInner .upperSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.app .skill .skillInner .upperSection .upperInner {
  position: relative;
}
.app .skill .skillInner .upperSection .upperInner h1 span {
  color: #808080;
}
.app .skill .skillInner .upperSection .upperInner .leftBracket {
  position: absolute;
  top: 30px;
  left: -10px;
  font-size: 59px;
  transform: translate(-50%, 0%);
  color: #808080;
}
.app .skill .skillInner .upperSection .upperInner .rightBracket {
  position: absolute;
  top: 30px;
  right: 0px;
  font-size: 59px;
  transform: translate(-50%, 0%);
  color: #808080;
}
.app .skill .skillInner .fade-left-in {
  opacity: 1;
  transform: translateX(0);
}
.app .skill .skillInner .fade-left-out {
  opacity: 0;
  transform: translateX(-100%);
}
.app .skill .skillInner .bottomSection {
  min-width: 480px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  flex-direction: column;
}
.app .skill .skillInner .bottomSection .bottomInner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer {
  width: 70px;
  height: 70px;
  background-color: rgb(240, 240, 240);
  display: flex;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 1;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .wave {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .wave:before, .app .skill .skillInner .bottomSection .bottomInner .skillContainer .wave:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .wave:before {
  border-radius: 45%;
  background: rgb(255, 255, 255);
  animation: animate 5s linear infinite;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .wave:after {
  border-radius: 40%;
  background: rgba(255, 255, 255, 0.5);
  animation: animate 10s linear infinite;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .reactWave:before,
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .reactWave:after {
  top: -30px;
  left: 50%;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .nextWave:before,
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .nextWave:after {
  top: -15px;
  left: 50%;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .jsWave:before,
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .jsWave:after {
  top: -15px;
  left: 50%;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .sassWave:before,
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .sassWave:after {
  top: -40px;
  left: 50%;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .bootWave:before,
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .bootWave:after {
  top: -40px;
  left: 50%;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .tailWave:before,
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .tailWave:after {
  top: -20px;
  left: 50%;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .npmWave:before,
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .npmWave:after {
  top: -30px;
  left: 50%;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .gitWave:before,
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .gitWave:after {
  top: -20px;
  left: 50%;
}
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .photoWave:before,
.app .skill .skillInner .bottomSection .bottomInner .skillContainer .photoWave:after {
  top: -10px;
  left: 50%;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.app .project {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  width: 100dvw;
}
.app .project .projectInner .heading {
  margin-bottom: 20px;
  text-align: center;
}
.app .project .projectInner .heading span {
  color: #808080;
}
.app .project .projectInner .works {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .project .projectInner .works .wrapper {
  width: 80%;
  border-radius: 10px;
}
.app .project .projectInner .works .wrapper .reactSlickCarousel .item {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.app .project .projectInner .works .wrapper .reactSlickCarousel .slick-arrow {
  display: none !important;
}
.app .project .projectInner .works .worksInner {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  width: 237px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
}
.app .project .projectInner .works .worksInner:hover .blackwindow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app .project .projectInner .works .worksInner .blackwindow {
  position: absolute;
  width: 217px;
  height: 180px;
  text-align: center;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgba(22, 22, 22, 0.829);
}
.app .project .projectInner .works .worksInner .blackwindow h2 {
  color: white;
}
.app .project .projectInner .works .worksInner .blackwindow p {
  color: white;
}
.app .project .projectInner .works .worksInner img {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.app .contact {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  width: 100dvw;
}
.app .contact .contactInner {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  width: 100dvw;
  flex-direction: column;
}
.app .contact .contactInner .contactUpper {
  position: relative;
  width: 100%;
  text-align: center;
}
.app .contact .contactInner .contactUpper h1 {
  position: absolute;
  width: 100%;
  top: 220px;
  right: 0;
  transform: translate(0%, 50%);
}
.app .contact .contactInner .contactUpper h1 span {
  color: #808080;
}
.app .contact .contactInner .contactBottom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}
.app .contact .contactInner .contactBottom .menu {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  transition: all 1s;
}
.app .contact .contactInner .contactBottom h1 {
  bottom: 450px;
  position: absolute;
}
.app .contact .contactInner .contactBottom h1 span {
  color: #808080;
}
.app .contact .contactInner .contactBottom .linkedIn {
  bottom: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid grey;
}
.app .contact .contactInner .contactBottom .linkedIn:hover {
  background-color: #0a66c2;
  color: white;
}
.app .contact .contactInner .contactBottom .github {
  bottom: 100px;
  border: 1px solid grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.app .contact .contactInner .contactBottom .github:hover {
  color: white;
  background-color: rgb(36, 36, 36);
}
.app .contact .contactInner .contactBottom .instagram {
  border: 1px solid grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0);
  bottom: 200px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.app .contact .contactInner .contactBottom .instagram:hover {
  color: white;
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}
.app .contact .contactInner .contactBottom .gmail {
  border: 1px solid grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0);
  bottom: 300px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.app .contact .contactInner .contactBottom .gmail:hover {
  color: white;
  background-color: #c5221f;
}
.app .section {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  width: 100dvw;
}
.app .splineObj0 canvas {
  height: 700px !important;
  width: 700px !important;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .skill .skillInner .upperSection {
    width: 100% !important;
    text-align: center !important;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 960px;
  }
  .welcome .welcomeInner .inner {
    width: 550px !important;
  }
  .welcome .welcomeInner .inner img {
    position: absolute;
  }
  .welcome .welcomeInner .inner .ba {
    right: 75px;
    width: 270px !important;
  }
  .welcome .welcomeInner .inner .ha {
    width: 190px !important;
    top: 63px !important;
  }
  .welcome .welcomeInner .inner .no {
    left: 66px !important;
    top: 110px !important;
    width: 140px !important;
  }
  .about .aboutInner .leftSection img {
    width: 90% !important;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .Header {
    position: relative;
  }
  .Header .headerInner .menu {
    display: none;
  }
  .Header .headerInner .menuOuter {
    display: block;
    position: relative;
    z-index: 90;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
  }
  .Header .headerInner .menuOuter .menuUp {
    height: 2px;
    width: 25px;
    margin-bottom: 5px;
    background-color: black;
  }
  .Header .headerInner .menuOuter .menuMid {
    height: 2px;
    width: 25px;
    background-color: black;
  }
  .Header .headerInner .menuOuter .menuDown {
    height: 2px;
    width: 25px;
    background-color: black;
    margin-top: 5px;
  }
  .Header .nav2 p {
    font-size: 30px;
  }
  .Header .nav2 p a {
    color: white !important;
  }
  .Header .nav2 .nav2Inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .Header .nav2 .nav2Inner button {
    position: absolute;
    top: 19px;
    right: 35px;
    color: white;
    cursor: pointer;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    z-index: 100000000000000000000000;
  }
  .about .aboutInner .leftSection img {
    width: 95% !important;
  }
  .contactInner h1 {
    bottom: 300px !important;
    font-size: 25px !important;
  }
  .contactInner .menu {
    height: 60px !important;
  }
  .contactInner .linkedIn {
    bottom: 0 !important;
  }
  .contactInner .github {
    bottom: 60px !important;
  }
  .contactInner .instagram {
    bottom: 120px !important;
  }
  .contactInner .gmail {
    bottom: 182px !important;
  }
  .skill .skillInner .bottomSection .bottomInner .skillContainer {
    width: 50px !important;
    height: 50px !important;
    padding: 5px !important;
    border-radius: 10px !important;
  }
  .skill .skillInner .bottomSection .bottomInner .skillContainer img {
    width: 40px !important;
  }
  .skill .skillInner .bottomSection .bottomInner .skillContainer .wave {
    border-radius: 10px !important;
  }
  .skill .skillInner .bottomSection .bottomInner .skillContainer .reactWave:before,
  .skill .skillInner .bottomSection .bottomInner .skillContainer .reactWave:after {
    top: -20px !important;
  }
  .skill .skillInner .bottomSection .bottomInner .skillContainer .nextWave:before,
  .skill .skillInner .bottomSection .bottomInner .skillContainer .nextWave:after {
    top: -5px !important;
  }
  .skill .skillInner .bottomSection .bottomInner .skillContainer .jsWave:before,
  .skill .skillInner .bottomSection .bottomInner .skillContainer .jsWave:after {
    top: -5px !important;
  }
  .skill .skillInner .bottomSection .bottomInner .skillContainer .sassWave:before,
  .skill .skillInner .bottomSection .bottomInner .skillContainer .sassWave:after {
    top: -30px !important;
  }
  .skill .skillInner .bottomSection .bottomInner .skillContainer .bootWave:before,
  .skill .skillInner .bottomSection .bottomInner .skillContainer .bootWave:after {
    top: -30px !important;
  }
  .skill .skillInner .bottomSection .bottomInner .skillContainer .tailWave:before,
  .skill .skillInner .bottomSection .bottomInner .skillContainer .tailWave:after {
    top: -10px !important;
  }
  .skill .skillInner .bottomSection .bottomInner .skillContainer .npmWave:before,
  .skill .skillInner .bottomSection .bottomInner .skillContainer .npmWave:after {
    top: -20px !important;
  }
  .skill .skillInner .bottomSection .bottomInner .skillContainer .gitWave:before,
  .skill .skillInner .bottomSection .bottomInner .skillContainer .gitWave:after {
    top: -10px !important;
  }
  .skill .skillInner .bottomSection .bottomInner .skillContainer .photoWave:before,
  .skill .skillInner .bottomSection .bottomInner .skillContainer .photoWave:after {
    top: 0px !important;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .welcome .welcomeInner .inner {
    width: 310px !important;
  }
  .welcome .welcomeInner .inner img {
    position: absolute;
  }
  .welcome .welcomeInner .inner .ba {
    right: 20px !important;
    width: 180px !important;
  }
  .welcome .welcomeInner .inner .ha {
    width: 120px !important;
    top: 137px !important;
  }
  .welcome .welcomeInner .inner .no {
    left: 13px !important;
    top: 165px !important;
    width: 97px !important;
  }
  .about .aboutInner {
    text-align: center;
  }
  .about .aboutInner .leftSection img {
    width: 120% !important;
  }
  .about .aboutInner .rightSection {
    min-width: 290px !important;
  }
  .about .aboutInner .rightSection h1 {
    font-size: 25px;
  }
  .about .aboutInner .rightSection .leftBracket {
    top: 10px !important;
    left: 0px !important;
    font-size: 85px !important;
  }
  .about .aboutInner .rightSection .rightBracket {
    top: 10px !important;
    right: -30px !important;
    font-size: 85px !important;
  }
  .skill .skillInner .upperSection .upperInner h1 {
    font-size: 25px;
  }
  .project .projectInner .heading h1 {
    font-size: 25px;
  }
}
@media (width < 576px) {
  .container {
    width: auto;
  }
}
@media (width >= 576px) {
  .container {
    max-width: 540px;
  }
}
@media (width >= 768px) {
  .container {
    max-width: 720px;
  }
}
@media (width >= 991px) {
  .container {
    max-width: 960px;
  }
}
@media (width >= 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (width >= 1400px) {
  .container {
    max-width: 1340px;
  }
}
@media (width >= 1600px) {
  .container {
    max-width: 1540px;
  }
}/*# sourceMappingURL=globalStyle.css.map */